.upload-button2 {
  background-color: #0099e5;
  width: 180px;
  height: 40px;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin-bottom: 10%;
}

.upload-button2:hover {
  background-color: #32adea;
  cursor: pointer;
}

.dropzone {
  height: 100%;
  display: flex;
  align-items:center;
  flex-direction: column;
}

.dropzone > p {
  display: flex;
  width: 500px;
  text-align: center;
  padding-top: 24%;
  color: #32adea;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
  flex-direction: column;
  align-items: center;
}

.upload-form {
  width: 340px;
}

.upload-form-list {
  border-left: 1px solid rgba(185,193,199,0.5);
  height: 100%;
}

.upload-form-list > li {
  padding:7%;
  border-top: 1px solid rgba(185,193,199,0.5);
  color: #0099e5;
  font-family: sans-serif;
}

.upload-form-list > li > label {
  width: 100%;
}


.upload-form-list > li > label > textarea {
  width: 97.4%;
  font-size: 14px;
  font-weight: lighter;
  border-color: rgba(185,193,199,0.5);
  line-height: 1.8em;
  height: 110px;
  color: #525558;
  border-radius: 3px;
}

.upload-form-list > li > label > input {
  width: 97.4%;
  font-size: 14px;
  font-weight: lighter;
  color: #525558;
  border:  1px solid rgba(185,193,199,0.5);
  line-height: 1.8em;
  border-radius: 3px;
}

.upload-form-list > li > label > p {
  padding-bottom: 4%;
  font-weight: lighter;
  font-size: 14px;

}

.dropzone-form {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.preview {
  height: auto;
  width: 80%;
  background-color: #f7f9fc;
}

.preview > img {
  width: 90%;
  height:auto;
  padding: 5%;
}

.cancel-transp {
  background-color: Transparent;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 12px;
}

.index-list {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: #f2f4f7;
}

.index-items {
  width: 30%;
  min-width: 480px;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  padding-bottom: 3%;
  font-family: sans-serif;
}

.index-items > img {
  width: 100%;
  height: auto;
}

.index-items > img:hover {
  cursor: pointer;
}

.index-item-info {
  color: #525558;
  background-color: Transparent;
  font-size: 14px;
  padding: 3%;
  display: flex;
  align-items: center;
}

.index-item-info > li {
  padding-right: 3%;
}

.index-item-info > li > a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.index-item-info2 {
  background-color: white;
  border-left: 1px solid rgba(185,193,199,0.5);
  border-right: 1px solid rgba(185,193,199,0.5);
  border-bottom: 1px solid rgba(185,193,199,0.5);
  width: 99.69%;
  height: 99.9%;
  color: #525558;
  text-align: center;
  padding: 3% 0 3% 0;
  font-size: 22px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.index-item-info2:hover {
  box-shadow: 0px 1px 2px 1px #e5e5e5;
  transition: 0.2s;
}

.upload-form-button {
  color: white;
  font-family: sans-serif;
  background-color: #34bf49;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  color: white;
  font-size: 14px;
  border: none;
  font-weight: bold;
}

.upload-form-button:hover {
  cursor: pointer;
}

.profile-index {
  overflow: hidden;
  height: 35px;
  width: 35px;
  border-radius: 25px;
}

.show-title{
  color: #525558;
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 5%;
}

.show-description {
  color: #525558;
  font-weight: lighter;
  font-size: 14px;
  padding-bottom: 5%;
}

.show-uploaded {
  color:#a8aaab;
  font-weight: lighter;
  font-size: 12px;
  padding-bottom: 5%;
}

.photo-index-wrap {
  height: 100vh;
}

.time-posted-index {
  color: #b9c1c7;
  font-size: 12px;
  font-family: sans-serif;
  padding-top: 2px;
}

.show-artist {
  a {
    text-decoration: none;
    color: #525558;
  }
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
