// .profile-images {
//   width: 88%;

//   // display: grid;
//   // grid-gap: 10px;
//   // grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
// }
//
// .profile-images > li {
//   height: 200px;
//   width: auto;
//   display: inline-block;
// }
//
// .profile-images > li > img {
//   height: auto;
//   width: 100%;
//   // object-fit: cover;
// }

.profile-images {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  width: 88%;
  height: auto;
    padding: 3% 5% 0 5%;
}

.profile-images > li {
  height: 200px;
  width:auto;
  padding: 0.5%;
}

.profile-images > li > img {
  top: 0;
  height: 100%;
  width: auto;
  vertical-align: bottom;
}

.profile-images > li:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: .2s;
}



// .profile-images > li > ul {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   position:absolute;
//   opacity: 0;
//   color:white;
//   font-family: sans-serif;
//   font-weight: lighter;
// }

// .profile-images > li > ul > li {
//     padding-top:3%;
//     padding-left:5%;
//     background-image: linear-gradient(rgba(89, 89, 89, 0.9), rgba(89, 89, 89, 0));
//     width:auto;
// }
//
// .profile-images > li > ul:hover {
//   position:absolute;
//   opacity: 1;
//   transition: .2s;
// }



.profile-original {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;

}

.profile-top {
  display: flex;
  align-items: center;
  padding: 2%;
  flex-direction: column;
}

.profile-name {
  font-size: 24px;
  font-family: sans-serif;
}

.profile-username {
  font-size: 18px;
  font-family: sans-serif;
}

.profile-top > li {
  align-items: center;
  color: #525558;
  padding: 5px;

  p {
    color: #b9c1c7;
    font-size: 14px;
    font-family: sans-serif;
  }
}

.button-follow {
  background-color: #0099E6;
  border-color: #0099E6;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.button-follow:hover {
  cursor: pointer;
}
