
.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  width: 88%;
  height: auto;
  padding: 3% 5% 0 5%;

  &::after {
    content: '';
    flex-grow: 999999999;
  }
}

.gallery-item{
  flex-grow: 1;
  margin: 2px;
  position: relative;
  // height: 200px;
}

.gallery-img {
  height: 300px;
  min-width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}
.gallery-img:hover {
  cursor: pointer;
}

.profile-images > li:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: .2s;
}

.gallery-item:nth-last-child(1),
.gallery-item:nth-last-child(1) ~ .gallery-item{
  flex-grow: 0;
}

.profile-top {
  display: flex;
  align-items: center;
  padding: 2%;
  flex-direction: column;
}

.profile-name {
  font-size: 24px;
  font-family: sans-serif;
}

.profile-username {
  font-size: 18px;
  font-family: sans-serif;
}

.profile-top > li {
  align-items: center;
  color: #525558;
  padding: 5px;

  p {
    color: #b9c1c7;
    font-size: 14px;
    font-family: sans-serif;
  }
}

.button-follow {
  background-color: #0099E6;
  border-color: #0099E6;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.button-follow:hover {
  cursor: pointer;
}

.personal-pictures-open {
  display: flex;
  section {
    position: absolute;
    margin-left: 150px;
  }
}

.personal-pictures-close {
  display: flex;
  section {
    display: none;
  }
}

.profile-img-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-original {
  width: auto;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}
